# Python cache and bytecode
__pycache__/
*.pyc

# Lambda deployment packages
*.zip

# Logs and temporary outputs
*.log
output.json

# AWS and environment files
*.env
.env
.aws/

# IDE or OS-specific files
.vscode/
.DS_Store
Thumbs.db
